# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\2022_23\Notebook\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
